@font-face {
    font-family: SP Marker;
    src: url("SP-marker Font.otf") format("opentype");
}

body {
background-color: #0a0800;
background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
color: #ffffff;
font-family: arial, sans-serif;
font-weight: 400;
margin: 0 auto;
text-align: center;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

button {
  display: none;
}

header {
  background-color: rgba(30, 30, 30, 0.4);
  margin: 0;
}

footer {
  background-color: rgba(30, 30, 30, 0.4);
  height: 400px;
}

h1 {
  font-style: normal;
  letter-spacing: 3px;
  font-size: 38px;
  margin: 0;
  padding: 20px;
  font-family: 'SP Marker', 'Raleway', sans-serif;
}

h2 {
  font-family: 'SP Marker', 'Raleway', sans-serif;
  padding-top: 10px;
  letter-spacing: 2px;
  font-size: 30px;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  font-family: 'SP Marker', 'Raleway', sans-serif;
  font-size: 26px;
}

main {
  padding: 0px;
}

.main-left {
  float: left;
  padding: 50px 0px 25px 20px;
}

.stand-top {
  border-top: 6px solid white;
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 196px;
  height: 30px;
  margin-left: 97px;
}

.stand-left, .man {
  float: left;
  width: 200px;
}

.pole {
  height: 275px;
  width: 6px;
  background: white;
  margin: 0 auto;
}

.stand-base {
  border-top: 6px solid white;
  border-left: 6px solid white;
  border-right: 6px solid white;
  width: 200px;
  height: 50px;
  font-family: 'SP Marker', 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
  padding-top: 10px;
}

.man {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 350px;
}

.torso, .arm, .leg {
  width: 6px;
  background: white;
}

.arm, .leg {
  height: 75px;
}

.hidden {
  display: none;
}

.head {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  left: 50%;
  margin: 0 auto;
}
.eyes, .frown {
  font-weight: bold;
  opacity: 0;
}

.eyes {
  position: absolute;
  top: 6%;
  left: 45%;
}

.frown {
  transform: rotate(90deg);
  position: absolute;
  top: 11%;
  left: 50%;
  font-size: 24px;
}

.torso {
  height: 100px;
  margin: 0 auto;
}

.left-arm {
  transform: rotate(-55deg);
  transform-origin: bottom;
  position: absolute;
  left: 49%;
  top: 18%;
}

.right-arm {
  transform: rotate(55deg);
  transform-origin: bottom;
  position: absolute;
  right: 49%;
  top: 18%;
}

.left-leg {
  transform: rotate(-135deg);
  transform-origin: bottom;
  position: absolute;
  left: 49%;
  top: 30%;
}

.right-leg {
  transform: rotate(135deg);
  transform-origin: bottom;
  position: absolute;
  right: 49%;
  top: 30%;
}

.main-right {
  float: right;
  width: 50%;
  padding: 50px 20px 25px 0px;
}

.alph-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.alph {
  margin: 7px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.alph:hover {
  opacity: 0.5;
}

.word {
  font-size: 30px;
  letter-spacing: 10px;
  width: 400px;
  margin: 30px auto 0 auto;
  font-family: 'SP Marker', 'Raleway', sans-serif;
}

#result, #play-again, #answer {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto 0 auto;
  font-family: 'SP Marker', 'Raleway', sans-serif;
}

#play-again, #answer {
  cursor: pointer;
  font-size: 26px;
  margin-top: 20px;
}
